body {
	margin: 0;
	padding: 0;
}
	
.autocompleteBlock {
	padding: 50px;
	display: flex;
  flex-direction: column;
  align-items: center;

	input {
		text-align: left;
		border-radius: 6rem;
		border: 1px solid rgb(160, 160, 160);
		padding: .8rem 2rem .8rem 1rem;
		width: 100%;
		max-width: 320px;
		font-family: 'roboto';
		transition: .5s;

		&:focus {
      outline: none;
      border-color: #212121;
      transition: .5s;
		}
	}

	ul {
		list-style: none;
		display: inline-block;
		max-width: 420px;
		width: 100%;
		text-align: left;
		padding: 0;
		max-height: 500px;
    overflow: auto;

		&.isLoading {
			opacity: .1;
			overflow: hidden;
		}

		li {
			display: block;
			padding: 15px 20px;
			background-color: #F8F8F8;
			color: #7B8585;
			margin-bottom: 3px;
			position: relative;
			transition: 0.3s;

			.highlight {
				color: #1dada7;
				font-weight: bold;
			}

		}
	}

	.errorBlock {
		display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
		align-items: center;

		button {
			border-radius: 6rem;
			border: 1px solid white;
			padding: .8rem 2rem .8rem 1rem;
			width: 350px;
			transition: .5s;
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: center;
			background-color: #1dada7;
			cursor: pointer;
			color: white;
		}
	}

	.loadingWrapper {
		position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		z-index: 1;
		.loading {
			width: 50px;
			height: 50px;
			border: 3px solid rgba(255,255,255,.3);
			border-radius: 50%;
			border-top-color:#1dada7;
			animation: spin 1s ease-in-out infinite;
			-webkit-animation: spin 1s ease-in-out infinite;
		}
	
		@keyframes spin {
			to { -webkit-transform: rotate(360deg); }
		}
		@-webkit-keyframes spin {
			to { -webkit-transform: rotate(360deg); }
		}
	}
	
	.listWrapper {
		width: 100%;
    display: flex;
    justify-content: center;
	}

}

@media only screen and (max-width: 600px) {
	.autocompleteBlock {
		padding: 50px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

		input {
			position: fixed;
			top: 10px;
			z-index: 1;
		}

		ul {
			max-height: none;
			overflow: scroll;
		}

	}
}